@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Caprasimo';
    src: url(/fonts/Caprasimo-Regular.ttf);
}

h1,
h2 {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    color: #3acfcf;
    margin-bottom: 0;
}

h2 {
    font-size: 2rem;
    color: #bae9e9;
    font-family: Caprasimo;
    margin-top: 0.5rem;
}

h3 {
    font-size: 2rem;
    padding-left: 1rem;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-color: #f4fdfd;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    width: 70%;
    height: 5%;
    min-height: 3rem;
    font-weight: bold;
    background-color: #3a969686;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px;
}

footer {
    display: block;
    background-color: #3a9696;
    border-radius: 5px 5px 0 0;
    padding: 0.5rem;
}

#hero {
    width: 100%;
    height: calc(79vw/2);
    background-image: url('/sfondo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    text-shadow: 0 0 1px black, 1px 1px 1px black;
    margin: auto;
}

.ricerca-viaggio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ricerca-viaggio-filtro {
    border: solid 1px #bae9e9;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 1px #bae9e9;
}

input {
    background-color: #bae9e9;
    border-radius: 5px;
    height: 1.5rem;
}

#template-viaggio {
    display: none;
}

#lista-viaggi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    /* Evita di saltare in alto se non ci sono risultati */
    min-height: 50vh;
}

.viaggio {
    border: solid 3px black;
    background-color: #e8fdfd;
    width: 25vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 0.5rem;
    box-shadow: 10px 10px 1px 1px;
    border-radius: 5px;
}

.viaggio:hover {
    background-color: #cbfafa;
}

.template-viaggio-acquista {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 1rem;
    display: block;
    width: 80%;
    height: 10%;
    min-height: 3rem;
    font-weight: bold;
    background-color: #3a969686;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #bae9e955;
}

.box {
    position: relative;
    width: 50%;
    min-height: 30%;
    margin: auto;
    margin-top: 5rem;
    padding-left: 1rem;
    border-radius: 5px;
    border: solid 3px black;
    background-color: #e8fdfd;
    box-shadow: 10px 10px 1px 1px;
}

#compra-biglietto-box label,
#compra-biglietto-box b,
#login-box label {
    display: inline-block;
    width: 30%;
    margin-top: 0.5rem;
}

#compra-biglietto-box input {
    width: 30%;
}

.chiudi {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    font-weight: bold;
    cursor: grab;
}

#biglietto-acquistato-qrcode * {
    display: block;
    margin: auto;
}

.no-scrollbar {
    overflow: hidden;
}

.hidden {
    display: none;
}

.errore {
    width: 80%;
    background-color: #cc1313c9;
    display: block;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    box-shadow: 1px 2px 1px 1px;
}

/*Sery*/
#template-prenotazione{
    display: none;
    
}

/*Sery :D*/
.prenotazione {
    border: solid 3px black;
    background-color: #e8fdfd;
    width: 20vw;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 10px 10px 1px 1px;
    margin: 1rem;
}

/*Sery*/
#listaPrenotazioni{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 900px) {
    .viaggio {
        width: 90vw;
        height: auto;
    }
}

@media print {

    #hero,
    .ricerca-viaggio,
    #lista-viaggi,
    #template-viaggio,
    #compra-biglietto,
    #biglietto-acquistato-stampa-btn {
        display: none;
    }

    #biglietto-acquistato {
        background-color: #3a9696;
    }

    #biglietto-acquistato-box {
        font-weight: 3rem;
        width: 90vw;
        height: 80vh;
    }
}